@import 'variables';
@import 'price-cards';
@import 'price-cards';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: $background;
}