//CARD_COLORS 
$card-base: #334247;

//PLAN_COLORS 
$basic-theme: #5BB189;
$bussines-theme: #3A6BA5;
$webshop-theme: #EC632A;

//OTHER
$background: #141B1C;
$die: #DC3F45;
$gray: #2A3438;
$white: #fff;